@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&family=Permanent+Marker&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(31, 31, 39);


}


.colorin {
    color: rgb(13, 18, 18);


}



.bg-color {
    background-color: #d9d9d9;
}

.tam {
    height: 1000px;
    width: 1000px;
}



h1,
h2,
h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-size: 30px;

}


.parrafoHome {
    margin-top: 5%;
    text-align: center;
    color: rgb(255, 255, 255);


}

.foto-perfil {
    width: 100%;
    border-radius: 22px;


}

.fotoHome {
    max-width: 100%;
    height: auto;
    border-radius: 22px;

}
/*FOOTER*/

.footer {

    position: relative;
    bottom: 0;
    width: 100%;
}




/*Galería*/

.container-gallery {
    display: flex;
    justify-content: center;

}

.img-thumbnail {
    width: 100%;


}



.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.img1,
.img2 {
    width: 100%;
    border-radius: 22px;
    border-color: antiquewhite;

}

/*sección contacto*/

.logos {
    width: 150px;
    margin: 150px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: antiquewhite;
    border-radius: 30px;
}

.contenedor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}






